<% content_for :head do %>
  <title>A simple page</title>
<% end %>

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<ul>
	<li><%= link_to_unless_current "Contactos ->", :controller => "Contactos", :action => "index"%></li>
	<li><%= link_to_unless_current "Nosotros ->", :controller => "Nosotros", :action => "index"%></li>
	<li><%= link_to_unless_current "Home ->", :controller => "Home", :action => "index"%></li>
</ul>