<h1>Controlador1#index</h1>
<p>Find me in app/views/controlador1/index.html.erb</p>
<img src="http://localhost:3000/images/rails.png"/>
<hr/>
<%="hola mundo desde rails"+"concatenacion"%>
<%hola = "654"

if hola == "mundo" then%>
	"hola mundo"
<%
else
	%>
	echo "nada no sirvio"
	<%
end 
%>
