<h1>Manejo de estructuras ciclicas</h1>
#iteracion
<h2>ciclo while</h2>
<ul>
	<%
	numero = 0;
	while numero < 10 do
		%>
		<li><%=numero+=1%></li>
		<%
	end
	%>
</ul>
<hr/>
<h2>ciclo for</h2>
<ul>
	<%
	for i in 1..10 do
		%>
		<li><%= i unless i % 2 == 0 %></li>
		<%
	end
	%>
</ul>
